<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<!-- Mapeamento das classes Java -->
		<mapping class="br.com.alavadeiraapi.domain.Carro" />
		<mapping class="br.com.alavadeiraapi.domain.Driver" />
		<mapping class="br.com.alavadeiraapi.domain.Auth" />
		<mapping class="br.com.alavadeiraapi.domain.Trajectory" />
	</session-factory>
</hibernate-configuration>
